@import 'bootstrap/scss/bootstrap';

$orange : #ec3700;

*{
    font-family: 'poppins';
}

// styles main
.main-container{
    min-height: 90vh;
}

.navbar{
    justify-content: center;
}

.orange{
    color: $orange;
}

.material-symbols-outlined, .fab{
    font-size: 32px !important;
    vertical-align: middle;
}

.myheader{
    padding: 5px 30px;
    background-color: black !important;
    font-size: 24px;
}

#logo{
    width: 220px;
}

.border-bottom{
    border-bottom: 3px solid $orange !important;
    border-radius: 3px;
}

.myfooter{
    background-color: black !important;
    color: white;
}

//cards de categorias
.category{
    color: white;
    font-size: 40px;
    height: 100px;
    background-color: black;
    border-radius: 15px;
}

.image-container {
    height: 100px; /* Ajuste este valor conforme necessário */
}

.image-container img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    object-fit: cover;
    filter: grayscale(40%);
    object-position:center;
}

.nav-link{
    color: white;
}

.card{
    border-radius: 15px;
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.4);
    height: 180px;
}

.btn-primary{
    background-color: $orange;
    border-color: $orange;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: $orange;
    border-color: $orange;
}

btn-primary::selection{
    background-color: $orange;
    border-color: $orange;
}

.admin-card{
    height: 100% !important;
}

.btn-price{
    cursor: default;
    pointer-events: none;
    height: 140px;
    width: 130px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    @media (max-width: 767px) {
        height: 60px;
        position: absolute;
        right: 10px;
        bottom: -5px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        height: 60px;
        position: absolute;
        right: 5px;
        bottom: -5px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        height: 60px;
        position: absolute;
        right: 10px;
        bottom: -5px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        position: absolute;
        right: 10px;
    }
}

.valor {
    padding-top: 1rem;
    position: relative;
    font-size: 38px;
  }
  
  .moeda {
    position: absolute;
    top: -5px; 
    font-size: 22px;

    @media (max-width: 767px) {
        font-size: 18px;
        top: 5px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 18px;
        top: 5px;
    }
   
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 18px;
        top: 5px;
    }

  }

  .valor-size {
    padding-top: 3rem;
    position: relative;
    font-size: 38px;
  }
  
  .moeda-size {
    position: absolute;
    top: 25px; 
    font-size: 22px;
  }

  .size{
    position: absolute;
    top: -15px;
    right: 5px;
  }

  .container-size{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    margin: 0 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    @media (max-width: 767px) {
        font-size: 18px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 24px;
    }
   
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 30px;
    }
  }

  .size-btn{
    background-color: $orange;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 0.5rem;
    padding:0 5px;
    overflow: auto;
  }

  .card-text{
    position: relative;
    z-index: 999;
  }